In [10]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
# http://archive.ics.uci.edu/ml/datasets/Spambase
spam_df = pd.read_csv('spambase.data', header=None, comment='#')

In [12]:
spam_df.columns = ["make", "address", "all", "3d", "our", "over", "remove", "internet", "order", "mail", \
                   "receive", "will", "people", "report", "addresses", "free", "business", "email", "you", \
                   "credit", "your", "font", "000", "money", "hp", "hpl", "george", "650", "lab", "labs", \
                   "telnet", "857", "data", "415", "85", "technology", "1999", "parts", "pm", "direct", "cs", \
                   "meeting", "original", "project", "re", "edu", "table", "conference", ";", "(", "[", "!", \
                   "$", "#", "capital_len_avg", "capital_len_longest", "capital_len_total", "spam"]

In [13]:
spam_df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,;,(,[,!,$,#,capital_len_avg,capital_len_longest,capital_len_total,spam
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [4]:
spam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
0     4601 non-null float64
1     4601 non-null float64
2     4601 non-null float64
3     4601 non-null float64
4     4601 non-null float64
5     4601 non-null float64
6     4601 non-null float64
7     4601 non-null float64
8     4601 non-null float64
9     4601 non-null float64
10    4601 non-null float64
11    4601 non-null float64
12    4601 non-null float64
13    4601 non-null float64
14    4601 non-null float64
15    4601 non-null float64
16    4601 non-null float64
17    4601 non-null float64
18    4601 non-null float64
19    4601 non-null float64
20    4601 non-null float64
21    4601 non-null float64
22    4601 non-null float64
23    4601 non-null float64
24    4601 non-null float64
25    4601 non-null float64
26    4601 non-null float64
27    4601 non-null float64
28    4601 non-null float64
29    4601 non-null float64
30    4601 non-null float64
31    4601 non-null float64
32    4601 non-null float64
33    4601 non-null float64
34    4601 non-null float64
35    4601 non-null float64
36    4601 non-null float64
37    4601 non-null float64
38    4601 non-null float64
39    4601 non-null float64
40    4601 non-null float64
41    4601 non-null float64
42    4601 non-null float64
43    4601 non-null float64
44    4601 non-null float64
45    4601 non-null float64
46    4601 non-null float64
47    4601 non-null float64
48    4601 non-null float64
49    4601 non-null float64
50    4601 non-null float64
51    4601 non-null float64
52    4601 non-null float64
53    4601 non-null float64
54    4601 non-null float64
55    4601 non-null int64
56    4601 non-null int64
57    4601 non-null int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [18]:
spam_df.iloc[:,:48].describe()

,make,address,all,3d,our,over,remove,internet,order,mail,...,pm,direct,cs,meeting,original,project,re,edu,table,conference
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.078629,0.064834,0.043667,0.132339,0.046099,0.079196,0.301224,0.179824,0.005444,0.031869
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.434672,0.349916,0.361205,0.766819,0.223812,0.621976,1.011687,0.911119,0.076274,0.285735
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110000,0.000000,0.000000,0.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,11.110000,4.760000,7.140000,14.280000,3.570000,20.000000,21.420000,22.050000,2.170000,10.000000

In [5]:
spam = spam_df.values

In [6]:
spam

array([[  0.00000000e+00,   6.40000000e-01,   6.40000000e-01, ...,
          6.10000000e+01,   2.78000000e+02,   1.00000000e+00],
       [  2.10000000e-01,   2.80000000e-01,   5.00000000e-01, ...,
          1.01000000e+02,   1.02800000e+03,   1.00000000e+00],
       [  6.00000000e-02,   0.00000000e+00,   7.10000000e-01, ...,
          4.85000000e+02,   2.25900000e+03,   1.00000000e+00],
       ...,
       [  3.00000000e-01,   0.00000000e+00,   3.00000000e-01, ...,
          6.00000000e+00,   1.18000000e+02,   0.00000000e+00],
       [  9.60000000e-01,   0.00000000e+00,   0.00000000e+00, ...,
          5.00000000e+00,   7.80000000e+01,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   6.50000000e-01, ...,
          5.00000000e+00,   4.00000000e+01,   0.00000000e+00]])

In [7]:
spam.shape

(4601, 58)

In [8]:
X = spam[:,:48]
X.shape

(4601, 48)

In [9]:
y = spam[:,-1]
y.shape

(4601,)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
X_train.shape[0], X_test.shape[0]

(4140, 461)

In [11]:
model = MultinomialNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [12]:
accuracy_score(y_test, y_pred)

0.85900216919739691

TODO:
Other type of feature:
- word proportion
- raw word counts
- binary (1 if word appears, 0 otherwise)
- tf-idf

TODO: zero false positives